html, body {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #eee;
    font-size: 100%;
    height: 100%;
}

.fullcontainer {
    width: 800px;
    height: 590px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    position: relative;
}

.topcontainer {
    width: 800px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.midcontainer {
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.botcontainer {
    width: 800px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
}

.dmbAbout {
    width: 800px;
    height: 500px;
    bottom: -500px;
    position: absolute;
    background-color: #eee;
}

.projects {
    width: 1024px;
    height: 780px;
    position: absolute;
    float: left;
    display: block;
    top: 780px;
    left: 0px;
    overflow: hidden;
    margin: 0;
    background-color: black;
    z-index: 90;
}

.nextImage {
    right:0px;
    top:45%;
    position: absolute;
    height:60px;
    cursor:pointer;
    width:31px;
    background: url('/images/next.png') no-repeat transparent;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.previousImage {
    left:10px;
    display:none;
    top:45%;
    position: absolute;
    height:60px;
    cursor:pointer;
    width:31px;
    background: url('/images/previous.png') no-repeat transparent;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.closeProjects {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 99;
    float: right;
    top: 0px;
    right: 0px;
    background-image: url("/images/close3.png");
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.nextImage:hover {
    opacity: .5;
}
.previousImage:hover {
    opacity: .5;
}

.closeProjects:hover {
    opacity: .5;
}

.linkedin:hover {
    opacity: .75;
}

.linkedin {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 80;
    float: right;
    right: 10px;
    cursor: pointer;
    background-image: url("/images/linkedin.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.line {
    background-color: #777;
    width: 780px;
    height: 1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.line2 {
    background-color: #777;
    width: 780px;
    height: 1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.thumbBox {
    width: 140px;
    height: 140px;
    background-color: #eee;
    margin: 10px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.posterInfo {
    width: 140px;
    height:140px;
    background-color: #a5cc66;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

.packidInfo {
    width: 140px;
    height:140px;
    background-color: #759fbc;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

.digitalInfo {
    width: 140px;
    height:140px;
    background-color: #de6464;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

.adverInfo {
    width: 140px;
    height:140px;
    background-color: #64bcc2;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

.miscInfo {
    width: 140px;
    height:140px;
    background-color: #555577;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

.projInfo {
    width: 140px;
    height:140px;
    background-color: #de6464;
    position: absolute;
    float: left;
    display: block;
    top: -140px;
    overflow: hidden;
}

div span {
    display: none;
}




h1.dmbDesign {
    font-family: 'News Cycle', sans-serif;
    color: #444;
    height: 100%;
    font-size: 1.6em;
    letter-spacing: .01em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: -16px;
    left: 10px;
    float: left;
    width: auto;
}

p {
    font-family: 'News Cycle', sans-serif;
    font-size: 1em;
    float: left;
    text-align: left;
    text-transform: uppercase;
    display: block;
    color: #444;
    letter-spacing: .02em;
    line-height: 1em;

}


p.pinfo {
    color: #eee;
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .06em;
    position: absolute;
    height: auto;
    width: 120px;
    top: -5px;
    left: 10px;
}

p.pinfoTwo {
    color: #eee;
    font-size: .7em;
    font-weight: 400;
    letter-spacing: .06em;
    position: absolute;
    height: auto;
    bottom: -3px;
    left: 10px;
}

p.about {
    font-weight: 400;
    line-height: 1.2em;
    width: 670px;
    margin: 40px 0px 0px 30px;
    position: relative;
    text-transform: inherit;
    letter-spacing: .05em;
}

p.dinfo {
    width: auto;
    height: 100%;
    font-weight: 400;
    font-size: 1.2em;
    top: -4px;
    right: 10px;
    position: relative;
    cursor: pointer;
    float: right;
    text-align: right;
}

p.projtitle {
    color: #eee;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.1em;
    bottom: 20px;
    left: 20px;
    margin: 0;
    position: absolute;
    width: 150px;
    display: block;
    text-align: left;
    float: left;
}

a:link {
    text-decoration: none;
    color: #444;
}




@media only screen and (max-width: 500px) {

body {
    overflow: scroll;
}

.fullcontainer {
    width: 320px;
    height: 418px;
}

.topcontainer {
    width: 320px;
    height: 38px;
}

.midcontainer {
    width: 320px;
    height: auto;
}

.botcontainer {
    width: 320px;
    height: 50px;
}

.line {
    width: 300px;
    margin-bottom: 10px;
}

.line2 {
    width: 300px;
    margin-bottom: 2px;
}

.dmbAbout {
    width: 320px;
    height: 330px;
    bottom: -330px;
}

p.about {
    width: 280px;
    margin: 10px 0px 0px 10px;
}

p.dinfo {
    margin-top: 1px;
}

p.mobileinfo {
    margin-top: 1px;
}


}
