$offWhite: hsl(200,13%,95%);
$darkWhite: hsl(200,13%,92%);
$slightGray: hsl(200,13%,80%);
$lightGray: hsl(200,13%,45%);
$darkGray: hsl(200,13%,28%);
$nearBlack: hsl(200,13%,12%);
$turq: hsl(162,66%,50%);
$tablet: 940px;
$landscape: 740px;
$portrait: 520px;
$smallPhone: 330px;
