html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font: 18px 'Roboto', sans-serif;
    background: #FDFDFF
}

body {
    min-height: 100vh
}

main, section, header, svg, object {
    display: block;
    position: relative;
    overflow: hidden
}

section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.hero {
    padding: 150px 0
}

main section {
    padding: 30px 40px 40px;
    background: #F5F5F7
}

h1, h2, dl, dt, dt {
    margin: 0
}

h1, h2, h3, dt, p {
    font-weight: 300
}

h1, h2, h3, p {
    color: #445
}

h3, h2 {
    margin: 10px 0 50px
}

h1 {
    font-size: 2.6em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.2em
}

p {
    font-size: 1em
}

.hero p {
    margin: 30px auto
}

.hero {
    text-align: center
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    color: #F55
}

p, dt {
    letter-spacing: .2pt;
    line-height: 1.5em;
}

dt {
    margin: 42px 0 18px;
    color: #778;
    font-size: 1em
}

dd {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: .9em;
    line-height: 1.7em
}

dd a {
    padding: 3px;
}

svg {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    fill: none;
    stroke: #000;
    stroke-width: 5px;
    stroke-linecap: round;
    border-radius: 50%;
    background: #F4F4F6;
    mix-blend-mode: multiply;
}

svg path:first-of-type {
    stroke: #F55
}

svg path:nth-of-type(2n+2) {
    stroke: #778
}

svg path:nth-of-type(2n+3) {
    stroke: #AAB
}

@media only screen and (max-width : 740px) {

    body {
        font-size: 16px
    }

    .hero {
        padding: 60px 0
    }

    main section {
        padding: 10px 20px 20px
    }

    dt {
        font-size: 1.1em
    }

    dd {
        font-size: 1em;
        line-height: 2.2em
    }

}
