
/*  ----  GLOBAL VALUES & RESETS  ----  */


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

body {
    min-height: 100%;
}

div, section, footer, ul, svg {
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}


/*  ----  STYLE VALUES  ----  */


/*  --  NAV  --  */


nav {
    width: auto;
    height: auto;
    position: fixed;
    z-index: 998;
}

#logo {
    width: auto;
    height: 45px;
    padding: 28px 24px 12px;
    fill: #FFF;
}

#nav {
    z-index: 999;
}

#nav li {
    width: auto;
    height: 1em;
    padding: 12px 24px;
    font-size: 1.2em;
    line-height: 1em;
    color: #FFF;
}


/*  Actions  */


#logo:hover {
    fill: #000;
    cursor: pointer;
}

#nav li:hover {
    font-weight: 700;
    color: #000;
    cursor: pointer;
}


/*  --  SECTIONS  --  */


/*  General  */


section {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(174,75%,55%);
}

#intro {
    background-color: hsl(210,13%,50%);
    text-align: center;
}

#work {
    white-space: nowrap;
}

#contact {
    background-color:hsl(212,16%,60%);
    text-align: center;

}


/*  Images  */


.image {
    width: 100%;
    height: 100%;
    background-size: 77% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#imac {
    background-image: url(img/browser.svg);
}

#icons {
    background-image: url(img/icons.svg);
}

#thunder {
    background-image: url(img/diceLogo.svg);
}

#macbook {
    background-image: url(img/macbook.svg);
}

#iphone {
    background-image: url(img/iphone.svg);
}


/*  About  */


.mid {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.textBox {
    width: 800px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}


/*  Footer  */


footer {
    width: 100%;
    height: auto;
    background-color: hsl(0,0%,16%);
    overflow: hidden;
}


/*  Text  */


h1, h2, p {
    width: 100%;
    height: auto;
    font-size: 1em;
    line-height: 1em;
    color: #FFF;
    margin: 0;
    text-align: left;
}

h1 b {
    font-weight: 700;
    letter-spacing: -0.5pt;
}

#contact h1 {
    font-size: 2.8em;
    font-weight: 700;
}

#intro h1 {
    font-size: 4.8em;
    font-weight: 400;
    padding-bottom: 16px;
    border-bottom: 1px solid #FFF;
    letter-spacing: -1.5pt;
}

#intro p {
    font-size: 1.4em;
    margin: 20px 0 0;
    letter-spacing: .2pt;
}

#intro p:after {
    content: 'Click to toggle.';
}

footer p {
    margin: 30px 0;
    color: #BBB;
    text-align: center;
    letter-spacing: .5pt;
}




/*  ----  ////  RESIZING  ////  ----  */



/*  ----  //  1400px  //  ----  */


@media screen and (min-width : 1399px) {


/*  ----  STYLE VALUES  ----  */


/*  --  NAV  --  */

#logo {
    height: 50px;
    padding: 30px 26px 13px;
}

#nav li {
    padding: 13px 26px;
    font-size: 1.3em;
}


}


/*  ----  //  1024px  //  ----  */


@media screen and (max-width : 1025px) {


/*  ----  STYLE VALUES  ----  */


html {
    -webkit-text-size-adjust: 100%;
}

section, li, #logo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}


/*  --  NAV  --  */

#logo {
    height: 40px;
    padding: 26px 22px 11px;
}

#nav li {
    padding: 11px 22px;
    font-size: 1.1em;
}

#logo:hover {
    fill: #FFF;
    cursor: auto;
}

#nav li:hover {
    font-weight: 400;
    color: #FFF;
    cursor: auto;
}


/*  --  SECTIONS  --  */


/*  Images  */


/*  Text  */


.textBox {
    width: 580px;
}

#intro h1 {
    font-size: 4.2em;
    letter-spacing: -1.5pt;
}

#intro p {
    font-size: 1.2em;
}

#intro p:after {
    content: 'Tap to toggle.';
}

#contact h1 {
    font-size: 2.4em;
}


}




@media screen and (max-width : 1025px) and (orientation : landscape) {

    section {
        height: 100%;
    }

}

@media screen and (max-width : 1025px) and (orientation : portrait) {

    section {
        height: 100vh;
    }

}


/*  ----  //  768px  //  ----  */


@media screen and (max-width : 769px) {


/*  ----  STYLE VALUES  ----  */


/*  --  SECTIONS  --  */


/*  Text  */


.textBox {
    width: 450px;
}

#intro h1 {
    font-size: 3.6em;
    letter-spacing: -1.25pt;
}


}


/*  ----  //  668px  //  ----  */


@media screen and (max-width : 668px) {


/*  ----  STYLE VALUES  ----  */


/*  --  NAV  --  */




/*  --  SECTIONS  --  */


/*  Text  */


.textBox {
    width: 325px;
}

#intro h1 {
    font-size: 3em;
    letter-spacing: -1pt;
}

#intro p {
    font-size: 1em;
}


}


/*  ----  //  500px  //  ----  */


@media screen and (max-width : 501px) {




.image {
    background-size: 62% 100%;
}

#iphone {
    background-size: 75% 100%;
}


/*  Text  */


.textBox {
    width: 300px;
}

#intro h1 {
    font-size: 2.8em;
    letter-spacing: -1pt;
}

#intro p {
    font-size: .9em;
}


}



/*  ----  ////  CSS ANIMATIONS/TRANSITIONS  ////  ----  */


.trans {
    -webkit-transition: 6s;
    transition: .6s;
}



/*  ----  ////  CLASSES FOR JAVASCRIPT  ////  ----  */

.on {
    font-weight: 700 !important;
    color: #000 !important;
}

.onL {
    color: #000 !important;
}




/*  ----  ////  BETA LABEL  ////  ----  */

#beta {
    width: auto;
    padding: 6px 10px;
    position: fixed;
    top: 0;
    right: 0;
    color: #DDD;
    background-color: #444;
    text-align: center;
    z-index: 999;
}
