
/*  ---  Global  ---  */

html, body {
    height: 100vh;
    padding: 0;
    margin: 0
}

body {
    min-height: 100vh;
    font: 16px 'Roboto', sans-serif;
    background: hsl(270,10%,94%);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

img, svg {
    display: block;
    outline: 0;
    border: 0
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    display: table;
    text-decoration: none;
    outline: 0
}

a:focus, a:active {
    outline: 0
}

section, header, footer, nav {
    width: 100%;
    height: auto;
    position: relative
}

h1, h2, h3, p {
    width: 100%;
    height: auto;
    margin: 0;
    color: hsl(270,10%,40%)
}

h1 {
    font-weight: 300;
    font-size: 2em;
    letter-spacing: -.2pt;
    line-height: 1em
}

h3 {
    font-size: 1em
}

p {
    font-size: 1em;
    line-height: 1.6em
}

h1 ~ p {
    margin-top: 2em
}


/*  ---  Navigation  ---  */

#nav {
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 999;
    background: hsl(270,10%,94%);
    border-bottom: 1px solid hsl(270,10%,80%)
}

#nav .row {
    height: 100%;
    align-items: center
}

#logo, #menu {
    margin: auto 0
}

#d-logo {
    width: 80%;
    fill: none;
    stroke: hsl(270,10%,30%);
    stroke-width: 6px;
    overflow: visible
}

#logo a:hover #d-logo {
    fill: hsl(270,10%,30%);
    fill: hsl(165,60%,45%);
    fill: none;
    stroke: hsl(165,60%,45%);
}

#menu {
    align-items: center
}

#menu a {
    height: 1em;
    width: auto;
    font-size: 1em;
    font-weight: 700;
    color: hsl(270,10%,40%);
    padding: 6px 2px;
    line-height: .9em;
    margin-left: 2em
}

#menu a:hover {
    color: hsl(165,60%,45%);
    cursor: pointer
}



/*  ---  Header  ---  */

#hero {
    padding-top: 102px
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: hsl(270,10%,90%);
    -webkit-transition: .4s;
    transition: .4s
}

#db {
    width: 202px;
    height: auto;
    padding: 224px 0;
    margin: 0 auto;
    fill: none;
    stroke: hsl(260, 10%, 30%);
    stroke-width: 6px;
    stroke-linejoin: round;
    stroke-linecap: round;
    overflow: visible
}

#d1, #d2 {
    stroke-dasharray: 122;
    stroke-dashoffset: 122
}

#b1 {
    stroke-dasharray: 120;
    stroke-dashoffset: 120
}

#b2 {
    stroke-dasharray: 134;
    stroke-dashoffset: 134
}


@keyframes draw {
    33.33% {
        stroke: hsl(260, 10%, 30%)
    }
    100% {
        stroke-dashoffset: 0;
        stroke: hsl(165,60%,45%)
    }
}

#d1, #d2, #b1, #b2 {
    animation: draw 1s .5s forwards
}




/*  ---  Work  ---  */

#work {
    padding: 84px 0
}

#work .row {
    transition: opacity .5s
}

#work .row:last-of-type {
    transition-delay: .5s
}

.thumb {
    width: 100%;
    height: auto;
    position: relative
}

.info {
    width: 100%;
    height: 1em;
    padding-bottom: 28px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;
    line-height: 1.1em;
    color: hsl(260, 10%, 30%);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    pointer-events: none;
    z-index: 1
}

#work .container:hover {
    cursor: pointer;
    background: hsl(270,10%,87%);
}

#work .container:hover .info {
    opacity: 1
}


/*  --- About  ---  */

#about {
    padding: 270px 0;
    /*background: hsl(270,10%,90%);*/
}

#about a {
    margin-top: 20px;
    font-weight: 700;
    color: hsl(270,10%,30%)
}

#about a:hover {
    color: hsl(165,65%,45%)
}

/*  --- Footer  ---  */

footer {
    width: 100%;
    padding: 50px 0;
    background: hsl(270,10%,30%)
}

footer p {
    font-size: .9em;
    color: hsl(270,10%,80%)
}

footer img {
    width: 75px;
    height: auto;
    margin: 4px 0;
    -webkit-filter: hue-rotate(270deg) saturate(.1) brightness(1.5);
    filter: hue-rotate(270deg) saturate(.1) brightness(1.5)
}

footer img:hover {
    -webkit-filter: hue-rotate(270deg) saturate(.1) brightness(1.8);
    filter: hue-rotate(270deg) saturate(.1) brightness(1.8)
}


/*  --- JS Classes  ---  */

.onSection a {
    color: hsl(165,60%,45%) !important
}

.showRows {
    opacity: 0
}



@media only screen and (max-width : 740px) {

    body {
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%
    }

    #d-logo {
        width: 60%
    }

    #hero {
        padding: 160px 0
    }

    #menu a {
        padding: 10px 2px
    }

    #about {
        padding: 100px 0
    }

    .info {
        padding-bottom: 16px;
        font-size: 1em;
        opacity: 1
    }

}



@media only screen and (max-width : 520px) {

    #hero {
        padding: 300px 0
    }

    #about {
        padding: 180px 0
    }

    #work .row:last-of-type {
        display: none
    }

}

@media only screen and (max-width : 330px) {

    #hero {
        padding: 250px 0
    }

}
