
/*  ---  Global  ---  */

html, body {
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    min-height: 100%;
    font: 16px 'Roboto', sans-serif;
    background: hsl(270,10%,90%);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

img, svg {
    display: block;
    outline: 0;
    border: 0
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    display: table;
    text-decoration: none;
    outline: 0
}

a:focus, a:active {
    outline: 0
}

section {
    width: 100%;
    height: auto;
    position: relative
}

h1, h2, h3, p {
    width: 100%;
    height: auto;
    margin: 0;
    color: hsl(270,10%,40%)
}

h1 {
    font-weight: 300;
    font-size: 2em;
    letter-spacing: -.2pt;
    line-height: 1em
}

h3 {
    font-size: 1em
}

p {
    font-size: 1em;
    line-height: 1.6em
}

h1 ~ p {
    margin-top: 2em
}

li a {
    height: 1em;
    width: auto;
    font-size: 1em;
    color: hsl(270,10%,30%);
    padding: 6px 2px;
    line-height: .9em;
    margin-left: 2em
}

li a:hover {
    font-weight: 700;
    cursor: pointer
}


/*  ---  Navigation  ---  */

nav {
    display: flex;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 999;
    background: hsl(270,10%,90%);
    transition: .5s;
    border-bottom: 1px solid hsl(270,10%,80%)
}

#dan {
    width: 26px;
    height: auto;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: hsl(270,10%,30%)
}

#dan::after {
    display: block;
    content: '';
    width: 100%;
    padding-top: 111%
}

#dan:hover {
    background: hsl(270,10%,40%)
}

.menu-m {
    align-items: center
}


/*  ---  Header  ---  */

#hero {
    padding: 380px 0
}

#hero svg {
    width: 288px;
    height: 75px;
    margin: auto;
    fill: none;
    stroke: hsl(260, 10%, 30%);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round
}

header {
    width: 100%;
    padding: 40px 0 30px
}


/*  ---  Work  ---  */

#main {
    padding: 72px 0;
    background: hsl(270,10%,94%)
}

#main .row {
    transition: .5s
}

#main .row:last-of-type {
    transition-delay: .5s
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: #000
}

.thumb {
    width: 100%;
    height: auto;
    position: relative
}

.info {
    width: 100%;
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    font-size: 2.2em;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
    pointer-events: none;
    z-index: 1
}

.container:hover {
    cursor: pointer
}

.container:hover .thumb {
    opacity: .75
}

.container:hover .info {
    opacity: 1
}


/*  --- About  ---  */

#about {
    padding: 270px 0
}


/*  --- Footer  ---  */

footer {
    width: 100%;
    padding: 50px 0;
    background: hsl(270,10%,30%);
}

footer p {
    font-size: .9em;
    color: hsl(270,10%,80%)
}


/*  --- JS Classes  ---  */

.onSection {
    font-weight: 700
}

.moveRows {
    opacity: 0
}



@media only screen and (max-width : 740px) {

    #hero {
        padding: 160px 0
    }

    #hero svg {
        width: 231px;
        height: 60px
    }

    #about {
        padding: 100px 0
    }

}



@media only screen and (max-width : 520px) {

    #hero {
        padding: 300px 0
    }

    #hero svg {
        width: 231px;
        height: 60px
    }

    #about {
        padding: 180px 0
    }

    #main .row:last-of-type {
        display: none
    }

}



/*  --- Hero Animation  ---  */

@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}

#hero svg * {
    animation: draw 2s .5s forwards
}

#d {
    stroke-dasharray: 242;
    stroke-dashoffset: 242
}

#e {
    stroke-dasharray: 174;
    stroke-dashoffset: 174
}

#ea {
    stroke-dasharray: 48;
    stroke-dashoffset: 48
}

#s {
    stroke-dasharray: 228;
    stroke-dashoffset: 228
}

#i {
    stroke-dasharray: 74;
    stroke-dashoffset: 74
}

#g {
    stroke-dasharray: 216;
    stroke-dashoffset: 216
}

#ga {
    stroke-dasharray: 66;
    stroke-dashoffset: 66
}

#n {
    stroke-dasharray: 242;
    stroke-dashoffset: 242
}
