html, body {
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    min-height: 100%;
    font-family: sans-serif;
    background: rgb(250,250,255);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

header {
    width: 100%;
    padding: 40px 0 30px
}

footer {
    width: 100%;
    padding: 50px 0
}

h1, h2, h3, p {
    width: 100%;
    height: auto;
    margin: 0;
    color: rgb(30,30,35)
}

h1 {
    font-weight: lighter;
    font-size: 34px;
    line-height: 1.2em
}

p {
    font-size: 18px;
    line-height: 1.5em
}

h1 ~ p {
    margin-top: 10px
}

.thumb {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
    transform: translate(0,200px);
    transform: translate3d(0,200px,0);
    transition: filter .4s, -webkit-filter .4s;
    animation: startUp .5s forwards;
    -webkit-backface-visibility: hidden
}

.info {
    padding: 0 34px 34px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFF;
    transform: translateY(100%);
    transition: .4s;
    pointer-events: none
}

.thumb:hover {
    cursor: pointer;
    -webkit-filter: opacity(90%);
    filter: opacity(90%);
}

.thumb:hover + .info {
    transform: translateY(0)
}

@keyframes startUp {
    to {
        opacity: 1;
        transform: translate3d(0,0,0)
    }
}

section .row:first-of-type .col-4:first-of-type .thumb {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

section .row:first-of-type .col-4:nth-of-type(2) .thumb {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

section .row:first-of-type .col-4:last-of-type .thumb {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

section .row:last-of-type .col-4:first-of-type .thumb {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

section .row:last-of-type .col-4:nth-of-type(2) .thumb {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

section .row:last-of-type .col-4:last-of-type .thumb {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s
}
