<!DOCTYPE html>
<html>

<head>    
  <title>Daniel Blake Design</title>    
  <meta name="author" content="Daniel Blake Design">        
  <meta name="keywords" content="Daniel, Blake, design, graphic, advertising, typography, website, digital, poster, identity, branding, packaging, concept">        
  <meta name="description" content="Daniel Blake Design is a collection of graphic design work by Daniel Blake - Portland, Oregon">    
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="danielblakedesignicon.png">
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>!window.jQuerry && document.write('<script src="/js/jq.js"><\/script>')</script>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-45015674-1', 'danielblakedesign.com');ga('send', 'pageview');</script>
</head>

<body>
  <div class='fullcontainer'>

    <div class="topcontainer">

      <h1 class="DanielBlakeDesign">Daniel Blake Design</h1>
      
      <p class="dinfo">About</p>

    </div>

    <div class="line"></div>

    <div class="midcontainer">

      {{ content }}

    </div>

    <div class="line2"></div>

    <div class="botcontainer">
     
      <div class="linkedin"><a href="http://www.linkedin.com/pub/daniel-blake/26/5b/509" style="display:block;height:100%;width:100%;" target="_blank"></a></div>

    </div>

 </div>

 <div class="projects" style="display:none">

  <div class="closeProjects"></div>
   
  <div class="nextImage"></div>
   
  <div class="previousImage"></div>

  <img id="projectImage" height="auto" align="center" style="display:block; margin:auto; max-height:100%; max-width:75%;"></img>       

  <p class="loading">Loading...</p>
  
  <p class="projtitle">Design Project Title Here</p>

 </div>

<script src="/js/mainScript.js"></script>

</body>

</html>
