<!DOCTYPE html>
<html>

<head>    
  <title>Daniel Blake Design</title>    
  <meta name="author" content="Daniel Blake Design">        
  <meta name="keywords" content="daniel, blake, design, graphic, advertising, typography, website, digital, poster, identity, packaging, concept">        
  <meta name="description" content="Daniel Blake is a graphic designer with a BFA in Communication Design from Texas State University, who lives in Portland, Oregon.">    
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="danielblakedesignicon.png">
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>!window.jQuerry && document.write('<script src="/js/jq.js"><\/script>')</script>    
</head>
<body>
  <div class='fullcontainer'>

    <div class="topcontainer">

      <h1 class="dmbDesign">Daniel Blake Design</h1>

  </div>

    <div class="line"></div>

    <div class="midcontainer">

      {{ content }}

    </div>

    <div class="line2"></div>

    <div class="botcontainer">

     <p class="dinfo">About</p>
     
     <div class="linkedin"></div>

   </div>

 </div>

 <div class="projects" style="display:none">

   <div class="closeProjects"></div>
   <div class="nextImage"></div>
   <div class="previousImage"></div>

   <img id="projectImage" height="auto" align="center" style="display: block; margin: auto; max-height:100%; max-width:75%;"></img>       

   <p class="projtitle">Design Project Title Here</p>

 </div>

 <script src="/js/mainScript.js"></script>

</body>

</html>